<h2 class="text-center">Admin Dashboard</h2>

<div class="card card-custom">
    <div class="card-body">
        <a class="btn btn-sm btn-dark mr-1 mt-1" href="@Url.Action("AdminDashboard", "Admin")">AdminDashboard</a>
        <a class="btn btn-sm btn-dark mr-1 mt-1" href="@Url.Action("LoadUserMgrView", "Admin")">UserManager</a>
        <a class="btn btn-sm btn-dark mr-1 mt-1" href="@Url.Action("LoadTeamMgrView", "Admin")">TeamManager</a>
        <a class="btn btn-sm btn-dark mr-1 mt-1" href="@Url.Action("LoadGameMgrView", "Admin")">GameManager</a>
        <a class="btn btn-sm btn-dark mr-1 mt-1" href="@Url.Action("LoadCodeMgrView", "Admin")">AccessCodeManager</a>
    </div>
</div>
