
@{
    ViewBag.Title = "Forgot password step 1";
}

<h2 class="text-center">Forgot Password - Step 1</h2>
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        @RenderPage("~/Views/Shared/_Notif.cshtml")
        <div class="card bg-dark">
            <div class="card-body">
                @using (Html.BeginForm("ForgotPasswordStep1", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="mb-3">
                            @Html.Label("Email", htmlAttributes: new { @class = "form-label" })
                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessage("Email", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4"></div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

